<h3><%= title %></h3>

<% posts.forEach(function (post) { %>
	<div class="post">
		<a href="#posts/<%= post.id %>"><%= post.escape("title") %></a>
		<button type="button" class="delete" data-id="<%= post.id %>">
			Delete</button>
	</div>
<% }); %>
